In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('./../CSV_for_analyse/pays_attaque.csv')

In [20]:
df.head()

   Unnamed: 0  nb_attack               country
0           0     137702         united states
1           1      45635  united arab emirates
2           2       7740                 spain
3           3       4022                france
4           4       2866                 italy