In [429]:
import wikipedia
import numpy as np
import pandas as pd
import math

In [ ]:
def find_town_label(company) : 
    print(company)
    try : 
        page = wikipedia.page(company)
    except : 
        return(np.nan, np.nan)
    
    matching_town = [s for s in page.categories if "establishments in" in s]
    
    if matching_town  : 
        town = matching_town[-1].split('establishments in ')[-1]
    else : 
        matching_town = [s for s in page.categories if "companies established in" in s]
        if matching_town : 
            town = matching_town[-1].split(' companies established in ')[0]
        else : 
            town = np.nan
            
    matching_label = [s for s in page.categories if "companies" in s]
    
    if matching_label  : 
        label = matching_label[-1].split(' ')[0]
    else : 
        label = np.nan
    print(town, label)
    return [town, label]

In [471]:
find_town_label('hewlettpackard')

hewlettpackard

(nan, nan)

In [1]:
data = pd.read_csv('data/FinalSource_Real Cases.csv', sep=',',  error_bad_lines=False, encoding = 'ISO-8859-1')

NameError: name 'pd' is not defined

In [419]:
def extract_company(url):
    try : 
        try : 
            company = url.split('www.')[1]
        except : 
            company = url.split('//')[1]
        
        company = company.split('.')[0]
        return company
    except : 
        return np.nan

In [421]:
data['company'] = data['URL'].apply(extract_company)

In [422]:
data.head()

,Date,Notify,URL,IP,Country,OS,WebServer,Encoding,Lang,company
0,1998-01-02,Team CodeZero,http://www.janet-jackson.com,NaN,UNKNOWN,Unknown,Unknown,utf-8,NaN,janet-jackson
1,1998-01-03,Feliz,http://cariari.ucr.ac.cr,NaN,COSTARICA,Unknown,Unknown,NaN,NaN,cariari
2,1998-01-04,Optiklenz(LOU),http://marin.k12.ca.us,NaN,UNITED STATES,Unknown,Unknown,iso-8859-1,Helvetica,marin
3,1998-01-04,Team CodeZero,http://www.dm.af.mil,NaN,AFGHANISTAN,Unknown,Unknown,utf-8,NaN,dm
4,1998-01-04,Team CodeZero,http://www.bolling.af.mil,NaN,AFGHANISTAN,Unknown,Unknown,windows-1252,Times New Roman,bolling

In [463]:
data[0:50]['company'].apply(find_town_label)

janet-jackson
cariari
marin

/Users/raphael/anaconda/lib/python3.5/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/raphael/anaconda/lib/python3.5/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

dm
bolling
hope
nic
tamu-commerce
pr0n
unicef
wvlc
trsystems
webbnet
easysoftware
itp
emergent
thebuzz
kvtc
njcool
kalnet
jrc
legislate
kleiber
chem
hartnet
datapark
resopal
connectos
stat-usa
koreamls
leonardodicaprio
michaelpowles
fantasyfootball
leje
dencom
intelliprise
aps-plc
tugmanufacturing
dyervolvo
rtnielson
cartoon
barc
nyt
slashdot
sanpedro
jackdaniels
kernkraftwerk
cartoon-network
hptesla
collinsoftware

0                  [nan, nan]
1                  [nan, nan]
2                  (nan, nan)
3                  (nan, nan)
4                  (nan, nan)
5                  [nan, nan]
6                  (nan, nan)
7                [Texas, nan]
8                  [nan, nan]
9     [New York (state), nan]
10                 [nan, nan]
11                 (nan, nan)
12                 (nan, nan)
13                 (nan, nan)
14                 (nan, nan)
15                 (nan, nan)
16                 (nan, nan)
17                 [nan, nan]
18                 (nan, nan)
19                 (nan, nan)
20                 (nan, nan)
21                 [nan, nan]
22                 [nan, nan]
23                 (nan, nan)
24                 (nan, nan)
25                 [nan, nan]
26                 (nan, nan)
27                 (nan, nan)
28                 (nan, nan)
29                 [nan, nan]
30                 [nan, nan]
31                 (nan, nan)
32                 (nan, nan)
33                 [nan, nan]
34                 (nan, nan)
35                 (nan, nan)
36               [Malta, nan]
37                 (nan, nan)
38                 (nan, nan)
39                 (nan, nan)
40                 [nan, nan]
41                 (nan, nan)
42                 (nan, nan)
43                 [nan, nan]
44                 (nan, nan)
45                 [nan, nan]
46                 [nan, nan]
47       [American, American]
48                 (nan, nan)
49                 (nan, nan)
Name: company, dtype: object

In [456]:
import requests
import bs4

def celine(company) : 

    req = requests.get('https://en.wikipedia.org/wiki/' + company)
    data = req.text
    soup = bs4.BeautifulSoup(data, "lxml")
    ii = 0
    balises_b = soup.find_all('b')
    page_ok = True
    while ii < len(soup.find_all('b')) and page_ok:
        if balises_b[ii].get_text() == 'Wikipedia does not have an article with this exact name.':
            page_ok = False
            print("La page n'existe pas")
        else:
            ii += 1
    if page_ok:
        print(company)
        if soup.find('table', attrs={'class': 'infobox vcard'}) : 
            try : 
                infobox = soup.find('table', attrs={'class': 'infobox vcard'}).get_text()
            except : 
                #print(soup.find('table', attrs={'class': 'infobox vcard'}))
                return(np.nan)
            
            tab = infobox.split()
            pays = np.nan
            for balise_th in soup.find_all('th', attrs={'style': "padding-right:0.5em;"}):
                if balise_th.get_text() == 'Headquarters':
                    pays = balise_th.parent.find('td').get_text().split(', ')[-1]
                    

            #if tab.index('Industry'):
            try : 
                type_Industry = tab[tab.index('Industry')+1]
            #else:
            except : 
                type_Industry = np.nan
        else:
            pays = np.nan
            type_Industry = np.nan
    
        return(pays, type_Industry)

In [458]:
data[0:50]['company'].apply(celine)

La page n'existe pas
La page n'existe pas
marin
dm
bolling
hope
nic
La page n'existe pas
pr0n
unicef
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
emergent
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
jrc
legislate
kleiber
chem
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
cartoon
barc
nyt
slashdot
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas
La page n'existe pas

0           None
1           None
2     (nan, nan)
3     (nan, nan)
4     (nan, nan)
5     (nan, nan)
6     (nan, nan)
7           None
8     (nan, nan)
9     (nan, nan)
10          None
11          None
12          None
13          None
14          None
15    (nan, nan)
16          None
17          None
18          None
19          None
20    (nan, nan)
21    (nan, nan)
22    (nan, nan)
23    (nan, nan)
24          None
25          None
26          None
27          None
28          None
29          None
30          None
31          None
32          None
33          None
34          None
35          None
36          None
37          None
38          None
39          None
40    (nan, nan)
41    (nan, nan)
42    (nan, nan)
43    (nan, nan)
44          None
45          None
46          None
47          None
48          None
49          None
Name: company, dtype: object